<section class="content">
  <h1 class="text-center">Cars <% if user_signed_in? %> <span><%= link_to 'New', new_car_path %></span> <% end %></h1>

  <ul class="row">
    <% @cars.each do |car| %>
      <li class="small-4 columns">
        <article class="documents row">
          <div class=" small-12 columns"><%= image_tag car.avatar.url(:medium) %></div>
           <hgroup class="text-center small-12 columns">
             <h5><%= car.brand %></h5>
             <h6><b>Year: </b><%= car.year %></h6>
           </hgroup>

          <div class="small-12 columns">
            <p>
              <b>Capacity: </b><%= car.capacity %>
              <% if car.capacity > 1 %>
              people <% else %> person <% end %>
            </p>
            <p><b>Doors: </b><%= car.door %></p>
            <p>
              <b>Trunk: </b>
              <% if car.trunk == true %>
              Yes <% else %> No <% end %>
            </p>
          </div>
          <ul class="small-12 columns">
            <li class="left">
              <p><%= link_to 'Show', car %></p>
            </li>
            <% if user_signed_in? %>
            <li class="left">
              <p><%= link_to 'Rent', rent_path(car) %></p>
            </li>
            <li class="right">
              <p><%= link_to 'Edit', edit_car_path(car) %></p>
            </li>
            <li class="right">
              <p><%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %></p>
            </li>
            <% end %>
          </ul>
        </article>
      </li>
    <% end %>
  </ul>
  <br>
</section>

